@charset "UTF-8";

@font-face {
  font-family: 'netmarbleB';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.1/netmarbleB.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'netmarbleB';
}

/* header */
header {
  position: fixed;
  width: 100%;
  border-bottom: 3px solid #ccc;
  top: 0;
  z-index: 1000;
  background-color: #ffffff;
  color: #868e96;
}

header .wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}

header .logo {
  font-size: 30px;
  font-family: 'Secular One', sans-serif;
}

header span {}

header nav {}

header ul {
  display: flex;
}

header li {
  margin-left: 10px;
  font-size: 20px;
  font-weight: bold;
  padding: 5px 7.5px;
  transition: all .3s;
  cursor: pointer;
}

header li:hover a {
  color: #ff8787;
}

header li:first-child {
  margin-left: 0;
}

header a {
  transition: all .3s;
  color: #868e96;
}

header i {}

header i:hover {}

/* main */
main {
  margin-top: 70px;
}

/* main_visual */
#intro {
  background: url('../img/code-g441f10601_1280.jpg') no-repeat center center / cover;
  position: relative;
  padding: 100px 0;
}

#intro .wrap {
  display: flex;
}

#intro .text {
  color: #fff;
  z-index: 1;
}

#intro .text .top {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 40px;
}

#intro .text .bottom {
  font-size: 25px;
  line-height: 1.3;
}

#intro .text span {
  font-size: 30px;
  font-weight: bold;
}

#intro .bg_tp {
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, .7);
  width: 100%;
  height: 100%;
}

/* main_about */
#about {
  background-color: #fff3bf;
}

#about .wrap {
  position: relative;
}

#about h2 {}

#about .info {
  margin-left: 92px;
}

#about ul {
  display: flex;
  margin-bottom: 30px;

}

#about ul.first {}

#about ul.second {}

#about li {
  display: flex;
  width: 100%;
}


#about li i {
  text-align: center;
  font-size: 48px;
  width: 60px;
  margin-right: 20px;
}

#about li .text {}

#about li p.top {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;

}

#about li p.bottom {
  font-size: 18px;
  color: #868e96;
  transition: all .3s;

}


/* main_skills */
#skills {
  padding-bottom: 40px;
}

#skills .wrap {}

#skills h2 {}

#skills ul {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

#skills ul.first {}

#skills ul.secnod {}

#skills li {
  margin: 15px 10px;
  width: 100%;
}

#skills .img {
  text-align: center;
  margin-bottom: 10px;
}

#skills .img i {
  font-size: 150px;
}

#skills .img img {
  height: 150px;
}

#skills ul.first li:nth-child(1) i {
  color: #dd4b25;
}

#skills ul.first li:nth-child(2) i {
  color: #0068ba;
}

#skills ul.first li:nth-child(3) i {
  color: #efd81d;
}

#skills ul.second li:nth-child(2) i {
  color: #7532fa;
}

#skills ul.third li:nth-child(1) i {
  color: #5ed3f3;
}

#skills ul.third li:nth-child(2) i {
  color: #e84d31;
}

#skills .text {}

#skills p {
  text-align: center;
}

#skills p.top {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 20px;
}

#skills p.bottom {}

/* main_projects */
#projects {
  background-color: #fff3bf;

}

#projects .wrap {}

#projects h2 {}

#projects .box_wrap {}

#projects .box {
  background-color: #fff5f5;
  border: 1px solid black;
  border-radius: 10px;
  word-break: break-all;
  margin: 0 10px;
  padding: 30px;
  cursor: pointer;
}

#projects .title {
  font-size: 35px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
}

#projects .detail {
  display: flex;
}

#projects .box .proj_img {
  /* width: 100%; */
  /* height: 100%; */
  border: 1px solid #000;
  border-radius: 10px;
  background-color: #fff;

  margin-right: 30px;
}

#projects .box .img {
  width: 450px;
  height: 350px;
  border-radius: 10px;

}

#projects .box01 .img {
  background: url('../img/proj1.png') no-repeat center center / cover;
}

#projects .box02 .img {
  background: url('../img/proj2.png') no-repeat center center / contain;
}

#projects .box03 .img {
  background: url('../img/proj3.png') no-repeat center center / cover;
}

#projects .box04 .img {
  background: url('../img/proj4.png') no-repeat center center / cover;
}

#projects .text {}

#projects .text_li {}

#projects .text_li>li {
  margin-bottom: 20px;
}

#projects .use {}

#projects .use p {}

#projects .use .top {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 8px;
}

#projects .use .bottom {}

#projects .func p {
  font-size: 20px;

  font-weight: bold;
  margin-bottom: 8px;
}

#projects .func ul {}

#projects .func li {
  list-style: disc;
  transform: translateX(20px);
}

#projects .link {
  display: flex;
}

#projects .link a {
  transition: all .3s;
  text-align: center;
  width: 100%;
  padding: 8px 0;
  border: 1px solid #000;
  border-radius: 5px;
  background-color: #000;
  color: #fff;
}
#projects .link a:first-child {
  margin-right: 10px;
}
#projects .link a:hover {
  background-color: #343a40;
  color: #ffd43b;
}

#projects .about {}


/* main_contact */
#contact {
  position: relative;
  height: 180px;
}

#contact .wrap {}

#contact h2 {}

#contact .info {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

#contact ul {}

#contact li {
  margin-bottom: 20px;
  transition: all .3s;
}

#contact li:last-child {
  margin-bottom: 0;
}

#contact li:hover p {
  color: #ff8787;
}

#contact li a {
  display: flex;
  justify-content: left;
  align-items: center;
}

#contact i {
  font-size: 40px;
  margin-right: 10px;
}

#contact .img {
  background-image: url(../img/kakaotalk_sharing_btn_small.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

#contact p {
  transition: all .3s;
}

#contact p.left {
  margin-right: 10px;
  font-weight: bold;
}

#contact p.right {}

/* footer */
footer {
  padding: 30px 0;
}

footer .wrap {}

footer p {
  text-align: center;
  font-weight: bold;
}

/* 해당 영역 이동 시, nav바 메뉴 색상 변경 */
.on {
  color: #ff8787;
}

/* 슬릭 슬라이더 */
/* 버튼 */
.slick-arrow {
  position: absolute;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  background-color: #ff8787;
  color: #fff3bf;
  opacity: .7;
  cursor: pointer;
  z-index: 1;
  transition: all .3s;
}
.slick-arrow:hover {
  background-color: rgba(255, 135, 135, .7);
}

.slick-prev {
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.slick-next {
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.proj_popup .slick-arrow {
  z-index: 2000;
}